<div class="ngdialog-message">
    <div class="">
        <h3>{{ngDialogData.name}}</h3>
    </div>
    <div class="">
      <div class="row">
        <div class="col-xs-6">
          <h3>Ingredients</h3>
        </div>
        <div class="col-xs-6">
          <h3>Instructions</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{ngDialogData.ingredients}}
        </div>
        <div class="col-xs-6">
          {{ngDialogData.instructions}}
        </div>
      </div>
    </div>
</div>
